# TransitPulse Environment Configuration

# Project & Environment
PROJECT_NAME=TransitPulse
ENV=development
LOG_LEVEL=INFO

# AWS & LocalStack (S3 Simulation) Configuration
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT=http://localhost:4566
S3_BUCKET=transitpulse-lakehouse

# Primary PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=transitpulse
DB_USER=postgres
DB_PASSWORD=postgres_password

# Airflow Configuration
AIRFLOW_HOME=./airflow
AIRFLOW__CORE__DAGS_FOLDER=./airflow/dags
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow_password@localhost:5432/airflow

# Transit API Credentials
TRANSIT_API_KEY=your_gtfs_rt_api_key_here
TRANSIT_API_BASE_URL=https://api-v3.mbta.com
GTFS_STATIC_URL=https://cdn.mbta.com/MBTA_GTFS.zip

# Storage & Data Lake Local Paths
DATA_DIR=./data
RAW_LANDING_DIR=./data/raw_landing
DELTA_WAREHOUSE_DIR=./data/delta_warehouse

# PySpark & Spark Driver Config
SPARK_MASTER=local[*]
SPARK_DRIVER_MEMORY=4g
SPARK_EXECUTOR_MEMORY=4g

# dbt Configuration
DBT_PROFILES_DIR=./dbt
DBT_TARGET=dev
